*{
    box-sizing: border-box;
}
section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 5px;
    box-sizing: content-box;

    background-image: url(imagenes/ac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 
div{
    width: 150px;
    height: 150px;
    min-width: 50px;
    min-height: 50px;
    padding: 14px;
    margin: 10px;
    border: solid black 2px;
    background-color: white;
}

div:nth-child(1){
    background-image: url(imagenes/back_mantel.jpg);
    background-repeat: repeat ;
}

div:nth-child(2){
    background-image: url(imagenes/back_mantel.jpg);
    background-repeat: repeat ;
    background-clip: content-box;
}
div:nth-child(3){
    background-image: url(imagenes/back_mantel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
div:nth-child(4){
    background-image: url(imagenes/back_mantel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}

div:nth-child(5){
    background-image: url(imagenes/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div:nth-child(6){
    background-image: url(imagenes/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}
div:nth-child(7){
    background-image: url(imagenes/dh_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
}
div:nth-child(8){
    background-image: url(imagenes/dh_3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

div:nth-child(9){
    background: linear-gradient(90deg,green,yellow);
}

div:nth-child(10){
    background: linear-gradient(0deg,green ,yellow 20%);
}
div:nth-child(11){
    background: linear-gradient(0deg,green 60%,yellow);
}
div:nth-child(12){
    background: linear-gradient(0deg,rgba(0, 128, 0, 0.315),yellow);
}